body{
    background: rgba(154, 215, 233, 1);
}
#canvas {
    background: rgb(255, 255, 255);
    width: 880px;
    height: 428px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -440px;
    margin-top: -214px;
    border: 6px solid rgba(99, 138, 150, 1);
}